[Desktop Entry]
Categories=Applications;Development;
Comment=Runs the Red Hat JBoss Developer Studio 10.0.0.GA
Comment[en]=Runs the Red Hat JBoss Developer Studio 10.0.0.GA
Encoding=UTF-8
Exec=/usr/local/devstudio/studio/devstudio 
GenericName=
GenericName[en]=
Icon=/usr/local/devstudio/studio/48-devstudio.icon.png
MimeType=
Name=Red Hat JBoss Developer Studio 10.0.0.GA
Name[en]=Red Hat JBoss Developer Studio 10.0.0.GA
Path=/usr/local/devstudio/studio
ServiceTypes=
SwallowExec=
SwallowTitle=
Terminal=false
TerminalOptions=
Type=Application
URL=
X-KDE-SubstituteUID=false
X-KDE-Username=root

# created by com.izforge.izpack.util.os.Unix_Shortcut $Revision$
# $Id$
